<header>
    <nav>
        <a href="/"><h1>Your Profile</h1></a>
        <ul>
            <li><a href="/profiles">Veiw Profiles</a></li>
            <li><a href="/profiles/new">Add Profile</a></li>
        </ul>
    </nav>
</header>